.container_cart {
  margin-left: 15%;
  margin-right: 15%;
  display: flex;
  flex-direction: column;
}

.list_element{
  border-style: solid;
  border-color: rgb(222,222,222);
  border-top: transparent;
  border-right: transparent;
  border-left: transparent;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}

#product_name{
  font-family: Montserrat,sans-serif;
  font-weight: lighter;
  font-size: 24px;
}

#amount_each_p{
  font-family: Montserrat,sans-serif;
  font-size: 12px;
}

#math{
  display: none;
}

.cart_button{
  background-color: rgb(84, 83, 83);
  color: white;
  border-radius: 10px;
  border: none;
}

.amount{
  display: flex;
  flex-direction: column;
  margin-left: 10px;
}
.amount_buttons{
  display: flex;
  flex-direction: column;
  align-items:flex-start;
}

.cart_button:hover{
  cursor: pointer;
  background-color: rgb(222,222,222);
  border-radius: 10px;
}

.cart_details{
  display: flex;
  flex-direction: row;
}

.count_total {
  font-weight: 20;
  font-family: Montserrat,sans-serif;
  margin-left: 40px;
}

.price_details{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
