.container_cart {
  display: flex;
  width: 70%;
  flex-direction: column;
}

.flex-row{
  display: flex;
  flex-direction: row;
  margin-left: 15%;
  margin-right: 15%;
  margin-top: 2%;
}

.list_element{
  border-style: solid;
  border-color: rgb(222,222,222);
  border-top: transparent;
  border-right: transparent;
  border-left: transparent;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}

.checkout{
  border-radius: 20px;
  height: 100%;
  margin-left: 20px;
  width: 28%;
  box-shadow: 0 4px 20px rgb(34 34 34 / 15%);
}

#free{
  color: rgb(21, 223, 21);
  margin-top: 0px;
  font-family: Montserrat,sans-serif;
  font-weight: lighter;
  font-size: 16px;
}

#shipping {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 10px;
  margin-bottom: 0px;
  padding-left: 5px;
  padding-right: 5px;
  font-family: Montserrat,sans-serif;
  font-weight: lighter;
  font-size: 16px;
  border-style: solid;
  border-width: 0.1ch;
  border-top: transparent;
  border-left: transparent;
  border-right: transparent;
  border-bottom-color: rgb(222, 222, 222);
}

#count_checkout {
  font-family: Montserrat,sans-serif;
  font-weight: lighter;
  font-size: 16px;
  padding-left: 5px;
}

#place_order_button{
  width: 80%;
  margin: 10%;
  height: 45px;
  color: white;
  font-family: Montserrat,sans-serif;
  background-color: rgb(34,34,34);
  border-radius: 25px;
  font-size: 20px;
  transition: all .2s ease-in-out;
}

#place_order_button:hover{
  cursor: pointer;
  transform: scale(1.01);
  box-shadow: 0 4px 20px rgb(34 34 34 / 15%);
}

#product_name{
  font-family: Montserrat,sans-serif;
  font-weight: lighter;
  font-size: 24px;
}

#amount_each_p{
  font-family: Montserrat,sans-serif;
  font-size: 12px;
}

#math{
  display: none;
}

.cart_button{
  background-color: rgb(84, 83, 83);
  color: white;
  border-radius: 10px;
  border: none;
}

.amount{
  display: flex;
  flex-direction: column;
  margin-left: 10px;
}
.amount_buttons{
  display: flex;
  flex-direction: column;
  align-items:flex-start;
}

.cart_button:hover{
  cursor: pointer;
  background-color: rgb(222,222,222);
  border-radius: 10px;
}

.cart_details{
  display: flex;
  flex-direction: row;
}

.count_total {
  font-weight: 20;
  font-family: Montserrat,sans-serif;
  margin-left: 40px;
}

.price_details{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.no_cart{
  margin-left: 23%;
}

#total{
  margin-top: 0px;
  font-family: Montserrat,sans-serif;
  font-weight: lighter;
  font-size: 16px;
}
