.ProductDetails{
  margin-left: 15%;
  margin-right: 15%;
  display:flex;
  flex-direction: row;
}

.showImg {
  width: 700px;
  height: 700px;
  border-radius: 2%;
  margin-top: 40px;
}

.detailDiv {
  margin-left: 50px;
  width:700px;
}

.product_price{
  width: 70%;
}

#product_price {
  font-family: Montserrat,sans-serif;
  font-weight: 80;
  font-size: 32px;
}

#name{
  font-family: Montserrat,sans-serif;
  font-weight: 20;
}

.product_name{
  display: flex;
  align-items:center;
  flex-direction: column;
}

#desc{
  font-family: Montserrat,sans-serif;
  font-size: 19px;
}

.notOwnerButtons{
  display: flex;
  align-items:center;
  flex-direction: column;
}

.ownerbuttons {
  display: flex;
  align-items:center;
  flex-direction: column;
}

.cartbutton {
  border-radius: 25px;
  height: 40px;
  width: 400px;
  margin-top: 10px;
  border: none;
  font-size: 24px;
  background-color: rgb(222, 222, 222);
  transition: all .2s ease-in-out;
}

.buttonOwner {
  border-radius: 25px;
  height: 40px;
  width: 400px;
  margin-top: 10px;
  border: none;
  font-size: 24px;
  background-color: rgb(222, 222, 222);
  transition: all .2s ease-in-out;
}

.buttonOwner:hover {
  cursor: pointer;
  transform: scale(1.02);
}

.cartbutton:hover {
  cursor: pointer;
  transform: scale(1.02);
}
