.ProductDetails{
  margin-left: 15%;
  margin-right: 15%;
  display:flex;
  flex-direction: row;
}

.showImg {
  width: 700px;
  height: 700px;
  border-radius: 2%;
  margin-top: 40px;
}

.detailDiv {
  margin-left: 50px;
  width:700px;
}

.reviewText {
  margin-top: 10px;
}

.reviewUser{
  margin-top: 10px;
  margin-bottom: 20px;
}

.reviews_div{
  border-style: solid;
  border-color: transparent;
  border-bottom-color: rgb(222,222,222);
  margin-bottom: 30px;
}

.favorite_single{
  position: absolute;
  margin-top: 30px;
  background-color: white;
  height: 40px;
  width: 40px;
  border-style: solid;
  border-radius: 25px;
  border-color: rgb(222,222,222)
}

#not_favorite_single{
  position: relative;
  top: 10px;
  left: 8px;
}

.favorite_single:hover{
  cursor: pointer
}

#is_favorite_single{
  position: relative;
  top: 10px;
  left: 8px;
  color: red;
}

#editReviewButton{
  border-radius: 25px;
  color: white;
  height: 24px;
  width: 50px;
  border: none;
  font-size: 16px;
  background-color: rgb(84, 83, 83);
  transition: all .02s ease-in-out;
}

#editReviewButton:hover{
  cursor: pointer;
  transform: scale(1.02);
}

#leave_review_btn{
  border-radius: 25px;
  color: white;
  height: 24px;
  width: 150px;
  border: none;
  font-size: 16px;
  background-color: rgb(84, 83, 83);
  transition: all .02s ease-in-out;
}

#leave_review_btn:hover{
  cursor: pointer;
  transform: scale(1.02);
}

#deleteReviewButton {
  border-radius: 25px;
  color: white;
  height: 24px;
  width: 85px;
  border: none;
  font-size: 16px;
  background-color: rgb(84, 83, 83);
  transition: all .02s ease-in-out;
  margin-left: 1%;
}

#deleteReviewButton:hover{
  cursor: pointer;
  transform: scale(1.02);
}

.editReview {
  margin-bottom: 20px;
}

.product_price{
  width: 70%;
}

.reviewContainer{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

#filler-text{
  margin-left: 15%;
  display: flex;
  flex-direction: row;

}

p{
  font-family: Montserrat,sans-serif;
}

#product_price {
  font-family: Montserrat,sans-serif;
  font-weight: 80;
  font-size: 32px;
}

#name{
  font-family: Montserrat,sans-serif;
  font-weight: 20;
  padding-right: 23%;
}

#lower{
  margin-top: 50px;
}

#Hooray{
  font-family: Montserrat,sans-serif;
  font-weight: bold;
}

#shipicon{
  font-size: 32px;
}

.product_name{
  display: flex;
  flex-direction: column;
  margin-left: 15%;
  overflow-wrap: break-word;
}

#avg{
  padding:0%
}

#handshakeicon{
  font-size: 32px;
  margin-top: 10px;
}

#Piracy{
  font-weight: bold;
  font-size: 12px;
}



#PiracyBody{
  font-size: 12px;
}

#filler-text-2nd{
  margin-top: 30px;
  display: inline-flex;
  flex-direction: row;
  justify-content: center;
  margin-left: 15%;
  margin-right: 10%
}

#desc{
  margin-left: 15%;
  font-family: Montserrat,sans-serif;
  font-size: 24px;
  overflow-wrap: break-word;
  padding-right: 20%;
}

#description{
  margin-left: 15%;
  font-family: Montserrat,sans-serif;
  font-weight: bold;
}

.notOwnerButtons{
  display: flex;
  align-items:center;
  flex-direction: column;
}

.not_logged_in{
  display: flex;
  align-items:center;
  flex-direction: column;
  margin-left: 15%;
}

#ratingStars{
  font-size: 24px;
  padding-right: 0.5%;
}

#info{
  color: red;
  font-size: 26px;
}

.ownerbuttons {
  display: flex;
  align-items:center;
  flex-direction: column;
}

.cartbutton {
  border-radius: 25px;
  color: white;
  height: 40px;
  width: 400px;
  margin-top: 10px;
  border: none;
  font-size: 18px;
  background-color: rgb(84, 83, 83);
  transition: all .02s ease-in-out;
}

#amount_p{
  font-family: Montserrat,sans-serif;
  font-size: 18px;
}

.buttonOwner {
  border-radius: 25px;
  color: white;
  height: 40px;
  width: 400px;
  margin-top: 10px;
  border: none;
  font-size: 18px;
  background-color: rgb(84, 83, 83);
  transition: all .2s ease-in-out;
}

.buttonOwner:hover {
  cursor: pointer;
  transform: scale(1.02);
}

.cartbutton:hover {
  cursor: pointer;
  transform: scale(1.02);
}

#added_to_cart{
  font-family: Montserrat,sans-serif;
  color: red;
  display: none;
}

.cartbutton:active{
transform: translateY(3px);
}
