.container {
  margin-left: 15%;
  margin-right: 15%;
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: repeat(4, 1fr);
  row-gap: 18px;
  column-gap: 18px;
  justify-items: stretch;
  grid-auto-flow: row;

}

.img {
  width: 200px;
  height: 200px;
}

li {
  list-style: none
}

#displayCont{
  border-radius: 15px;
  background-color: white;
  padding: 5px;
  border-color: gray;
  position:absolute;
  bottom: 3%;
  left: 1%;
}

.DivCont {
  position: relative
}
