/* .container {
  margin-left: 15%;
  margin-right: 15%;
  display: flex;
  flex-direction: column;

} */

.splash{
  background-color: rgb(83, 235, 235);
  width:100%;
  height:150px;
  display: flex;
  justify-content: center;
}

.boatsy{
  font-weight: 20;
}

.flex{
  margin-left: 15%;
  margin-right: 15%;
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: repeat(4, 1fr);
  row-gap: 18px;
  column-gap: 18px;
  grid-auto-flow: row;
}

a{
  color: black;
  text-decoration: none;
}

.img {
  width: 250px;
  height: 250px;
  border-radius: 5%;
  transition: all .02s ease-in-out;
}

.img:hover{
  cursor: pointer;
  filter: drop-shadow(0 0 0.75rem rgb(223, 223, 223))
}

.product {
}

.product:hover{

}

li {
  list-style: none
}

#displayCont{
  border-radius: 15px;
  background-color: white;
  padding: 5px;
  border-color: gray;
  position:absolute;
  bottom: 3%;
  left: 1%;
}

.DivCont {
  position: relative;
}
