html, body {
margin:0;
padding:0;
}

.main {
  margin-bottom: 150px;
}

.footer {
  background-color: #000000;
  background-image: linear-gradient(360deg, #000000 0%, #04619f 74%);
  color: white;
  display: flex;
  flex-direction: row;
  position: relative;
  bottom: 0;
  justify-content: center;
  width: 100%;
  height: auto;
}

.footer-row {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 80vw;
  margin: auto;
  justify-items: center;
  padding: 5px;
  text-align: center;
}

#contact{
  font-size: 24px;
  margin-right: 10px;
}
