#navbar{
  display:flex;
  flex-direction: row;
  justify-content: right;
  height: 100px;
  border-style: solid;
  border-top: transparent;
  border-right: transparent;
  border-left: transparent;
  border-color: rgb(222,222,222);
}
