.favorites_list{
  display: flex;
  flex-direction: column;
  margin-left: 15%;
  margin-right: 15%;
  margin-top: 1%;
}

.favorite_item{
  display: flex;
  flex-direction: row;
  margin: 1%;
  border-style: solid;
  border-top-color: transparent;
  border-left-color: transparent;
  border-right-color: transparent;
  border-bottom-color: rgb(222, 222, 222)
}

.favorite_details{
  display: flex;
  flex-direction: column;
  width: auto;
  height: 100%;
}

#favorite_name{
  overflow-wrap: break-word;
}

#remove_fav_button{
  border-radius: 5pc;
  position: relative;
  width: 120px;
  background-color: red;
  color: white;
  border-color: transparent;
  transition: all .02s ease-in-out;
  align-items: flex-end;
}

#remove_fav_button:hover{
  cursor: pointer;
  transform: scale(1.02);
}

.no_favorites{
  margin-left: 35%;
}
