.favorites_list{
  display: flex;
  flex-direction: column;
  margin-left: 15%;
  margin-right: 15%;
}

.favorite_item{
  display: flex;
  flex-direction: row;
}

.favorite_details{
  display: flex;
  flex-direction: column;
}

#remove_fav_button{
  margin-top: 85%;
  border-radius: 5pc;
  width: 80%;
  background-color: red;
  color: white;
  border-color: transparent;
  transition: all .02s ease-in-out;
}

#remove_fav_button:hover{
  cursor: pointer;
  transform: scale(1.02);
}
