.no_orders {
  margin-left: 33%;
  margin-right: 15%;
}

.orders {
  margin-left: 15%;
  margin-right: 15%;
  margin-top: 1%;
}

.order {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 1%;
  padding-bottom: 1%;
  border-style: solid;
  border-top-color: transparent;
  border-left-color: transparent;
  border-right-color: transparent;
  border-bottom-color: rgb(222, 222, 222)
}

.orderDetails {
  display: flex;
  flex-direction: row;
}

#detail{
  margin-left: 10px;
}

#details_button{
  margin-top: 1%;
  height: 24px;
  background-color: gray;
  color: white;
  border-style: none;
  border-radius: 25px;
  transition: all .2s ease-in-out;
}

#details_button:hover{
  cursor: pointer;
  transform: scale(1.02);
}
